<h2> <%= product.name %></h2>
<% if product.img_url.present? %>
  <p><%= image_tag product.img_url %></p>
<% end %>
<p>
  <strong>Price: </strong>
  <%= product.price %>
</p>
<p>
  <strong>Genre: </strong>
  <% product.genres.each do |genre| %>
    <%= genre.name %><%= ", " unless genre == product.genres.last %>
  <% end %>
</p>
<p>
  <%= product.stock_quantity %> in stock.
</p>
<% if !show_details_link %>
  <p>
    <%= product.description %>
  </p>
<% end %>
<% if show_details_link %>
  <p>
    <%= link_to 'View Details', product %>
  </p>
<% end %>