<% if show_details_link %>
  <h3> <%= link_to "#{product.name}", product %></h3>
<% else %>
  <h3> <%= product.name %></h3>
<% end %>

<% if product.img_url.present? %>
  <p><%= image_tag product.img_url %></p>
<% end %>
<p>
  <strong>Price: </strong>
  <%= product.price %>
</p>
<p>
  <strong>Genre: </strong>
  <% product.genres.each do |genre| %>
    <%= genre.name %><%= ", " unless genre == product.genres.last %>
  <% end %>
</p>
<p>
  <%= product.stock_quantity %> in stock.
</p>
<% if !show_details_link %>
  <p>
    <%= product.description %>
  </p>
<% end %>

<!--Using temporarily to simulate what the page would look like with this button-->
<button>Add to cart</button>