<!DOCTYPE html>
<html>
  <head>
    <title>CommerceProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1><%= link_to 'eGamerse', root_path %></h1>
      </header>
      <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      </div>

      <% if logged_in? %>
        <p><%= link_to "Profile", current_user %></p>
        <p><%= link_to "Log out", logout_path, method: :delete %></p>
      <% else %>
        <%= link_to "Log in", login_path %>
      <% end %>

      <%= form_tag products_search_by_category_path, method: :get do %>
        <%= select_tag :genre, options_for_select(Genre.all.order(:name).pluck(:name), params[:genre]) %>
        <%= submit_tag 'Search' %>
      <% end %>
      <br>
      <%= form_tag products_search_path, method: :get do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
        <%= submit_tag 'Search' %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
