<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CommerceProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <header>
        <div class="jumbotron" style="padding-top: 20px;padding-bottom: 20px">
          <h1><%= link_to 'eGamerse', root_url, style: "text-decoration:none" %></h1>
          <p>An online game store catered to all you wonderful geeks!</p>

          <%= form_tag products_search_path, method: :get do %>
            <div class="input-group">
              <%= text_field_tag :product, params[:product], placeholder: "Search for products", class: "form-control, col-md-6" %>
              <%= select_tag :genre, options_for_select(Genre.all.order(:name).pluck(:name).insert(0, "All"), params[:genre]), class: "form-control col-md-2" %>
              <%= submit_tag 'Search', class: "btn btn-default col-md-1" %><div class="col-md-3"></div>
            </div>
          <% end %>
          <div>
            <% if logged_in? %>
              <div>Hello, <%= current_user.first_name %></div>
              <%= link_to "View Profile", current_user, style: "padding-right: 40px" %>
              <%= link_to "Log out", logout_path, method: :delete %>
            <% else %>
              <%= link_to "Log in", login_path %>
            <% end %>
          </div>
        </div>
        <div class="container">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
        </div>
      </header>

      <div style="padding-bottom: 15px">
        <%= render_breadcrumbs %>
      </div>


      <%= yield %>
    </div>
  </body>
</html>